<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
       default-lazy-init="true">
    

    <bean id="aesKeyManager" class="com.emirates.citp.crypto.impl.AESKeyManagerImpl" init-method="init"
          scope="singleton"></bean>

    <bean id="keyGeneration" class="com.emirates.citp.crypto.impl.KeyGenerationImpl" init-method="init">
        <property name="dbUtil" ref="dbUtil"/>
        <property name="cryptoCommon" ref="cryptoCommon"/>
        <property name="privateKeyFolder" value="${usb.private}"/>
        <property name="publicKeyFolder" value="${usb.public}"/>
        <property name="txBackup" value="${txlocation.backup}"/>
        <property name="txJournal" value="${txlocation.journal}"/>

    </bean>

    <bean id="cryptoCommon" class="com.emirates.citp.crypto.impl.CrytoCommonsImpl" scope="singleton">
        <property name="dbUtil" ref="dbUtil"/>
        <property name="privateKeyFolder" value="${usb.private}"/>
        <property name="publicKeyFolder" value="${usb.public}"/>

    </bean>

    <bean id="cryptoService" class="com.emirates.citp.crypto.impl.CryptoServiceImpl" init-method="init">
        <property name="cryptoCommon" ref="cryptoCommon"/>
        <property name="aesKeyManager" ref="aesKeyManager"/>
        <property name="dbUtil" ref="dbUtil"/>
    </bean>

</beans>
